.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #FF136F;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, #ff5898 0%, #FF136F 100%);
    padding: 8px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cata-1, .cata-2, .cata-3{
    padding: 15px 25px;
    border-radius: 8px;
}
.cata-1{
    background: orange;
}


.cata-2{
    background: orchid;
}

.cata-3{
    background: royalblue;

}

.catagorics h1{
    color: white;
}

.catagorics img{
    width: 100px;
}

.card{
    box-shadow: -5px -5px 10px rgb(129, 128, 128);
    border: none;
    border-radius: 8px;
}

.card-footer{
    background-color: rgb(255, 255, 255);
    border-top: none;
}

#subcribe{
    height: 200px;
}

#subcribe h5{
    color: #929292;
}

small{
    text-align: center;
}